*,
*:after,
*:before, {
    @include vendor-prefix("box-sizing", "border-box");
}

/* Clearfix */
.group:before,
.group:after {
    content: " ";
    display: table;
}

.group:after {
    clear: both;
}