$font-family-base: 'Lato', Calibri, Arial, sans-serif;
$font-weight-light: 100;
$font-weight-regular: 300;
$font-weight-bold: 700;
$font-color-base: #fff;
$primary-color: #BA68C8;
$secondary-color: #E1BEE7;
